/*------------------
    RESET
------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------
    COMMONS
------------------*/
body {
    font-family: 'Montserrat',
    sans-serif;
    background-color: #141922;
    color: #fff;
}

main {
    display: flex;
    height: calc(100% - 175px);
}

.active {
    text-decoration: none;
    color: #fff;
}

a, small {
    text-decoration: none;
    color: #717171;
    font-weight: bold;
    font-size: 12px;
}

.img-gray {
    opacity: .5;
}

h4 {
    font-size: 14px;
}

i {
    cursor: pointer;
}
/*------------------
    BUTTONS
------------------*/
.btn-upgrade {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 0px 40px;
    margin: 25px 40px;
    background-color: black;
    cursor: pointer;
    font-family: 'Montserrat',
    sans-serif;
    font-weight: bold;
}

.btn-upgrade:hover {
    transform: scale(1.1);
}
/*------------------
    HEADER-TOP
------------------*/
.header-top {
    height: 90px;
    width: calc(100% - 200px);
    background-color: rgba(0,0,0,0.5);
    display: flex;
    position: fixed;
    right: 0;
    justify-content: flex-end;
}
/*------------------
    HEADER-ASIDE
------------------*/
.header-aside {
    min-width: 200px;
    height: calc(100vh - 85px);
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.logo {
    width: 75%;
    margin-bottom: 20px;
    flex-shrink: 0;
}

.img-nav {
    width: 15%;
    margin-right: 5px;
}
.center-a {
    display: flex;
    align-items: center;
    height: 35px;
}

.home {
    padding-left: 7px;
}

.home {
    border-left: 3px solid #adff2f;
    margin-left: -10px;
}

.playlist {
    flex-grow: 1;
    margin-top: 30px;
    overflow-y: auto;
    height: 100vh;
    height: calc(100vh - 295px);
}

.play-title {
    margin-bottom: 20px;
}

.bigger {
    width: 60px;
    margin: 5px 5px 5px -5px;
}

.playlist .center-a {
    margin-bottom: 30px ;
}

.playlist-name li {
    padding: 10px 0;
}
/*------------------
    SECTIONS
------------------*/
.inner-main {
    min-width: calc(100% - 200px);
    height: calc(100vh - 85px);
    padding: 90px 15px 0px;
    overflow-y: auto;
}

.top-nav-menu a {
    padding: 10px;
}

.underlined::after {
    width: 35%;
    border-top: solid 1px #adff2f;
    content: "";
    display: block;
    padding-top: 10px;
    margin: auto;
}

.top-nav-menu {
    width: 70%;
    margin: auto;
    padding: 10PX;
    display: flex;
    justify-content: center;
}

.section-title, .title-have-not-subtitle {
    min-height: 20px;
    color: #fff;
    margin: 25px 0;
}

.title-with-subtitle {
    margin-bottom: 8px;
}

.section-subtitle {
    margin-bottom: 20px;
}

.playlist-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
    gap: 10px;
}

.song-container {
    width: calc(100% / 6 - 10px);
    text-align: center;
    color: #fff;
}

img {
    max-width: 100%;
}

.img-container {
    max-width: 300px;
    cursor: pointer;
    position: relative;
}

.img-circle {
    border-radius: 50%;
}

.song-title {
    padding: 5px;
}

/*------------------
    LAYOVER
------------------*/
.shadow-div {
    width: 100%;
    height: 100%;
    margin-bottom: 14px;
    overflow: hidden;
    position: absolute;
}

.play-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.layover {
    background-color: rgba(0,0,0,0.6);
    max-width: 300px;
    height: 300px;
    display: none;
}

.round-layover {
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
}

.layover .fa-circle-play {
    font-size: 80px;
}

.shadow-div:hover .layover {
    display: block;
}

.shadow-div:hover .round-layover {
    display: block;
}
/*------------------
    FOOTER
------------------*/
footer {
    height: 85px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.current-song-description, .footer-right-menu {
    width: 20%;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer-right-menu {
    gap: 25px;
    padding-left: 50px;
}

.footer-img {
    height: 100%;
    display: inline-block;
}

.song-playing-name {
    display: inline-block;
    padding: 15px 10px;
    line-height: 10px;
    margin-right: 25px;
}

.fa-heart, .fa-folder {
    line-height: 42px;
    padding: 0 8px;
}

.volume-bar {
    width: 350px;
    height: 5px;
    background-color: #717171;
    border-radius: 5px;
    cursor: pointer;
}

.inner-volume-bar {
    width: 30%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.player-btns {
    text-align: center;
}

.player-btns i {
    padding: 0 20px;
}

.fa-circle-play {
    font-size: 26px;
}

.fa-circle-play:hover {
    transform: scale(1.1);
}

.player-bar {
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.volume-bar:hover .inner-volume-bar {
    background-color: #adff2f;
}

a:hover {
    color: #fff;
}

.center-a:hover {
    color: #fff;
}

.img-gray:hover {
    opacity: 1;
    cursor: pointer;
}

.song-playing-name:hover small {
    text-decoration: underline;
    cursor: pointer;
}